@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800&display=swap');

:root{

    /* glavna paleta */

    --main-bg:#0B0E11;
    --card-bg:#1F242D;
    --accent:#E10600;
    --accent-dark:#8B0000;
    --secondary-bg:#161B22;

    /* tekst */

    --text-main:#FFFFFF;
    --text-secondary:#D1D1D1;

    /* stakleni efekat */

    --glass-bg:rgba(255,255,255,0.05);

    /* font */

    --font-main:'Orbitron', sans-serif;

    /* spacing */

    --container-width:95%;
    --section-padding:6rem;

    /* tranzicije */

    --transition:0.3s ease;

    /* shadow */

    --shadow-soft:
    0 10px 25px rgba(0,0,0,0.25);

    --shadow-hover:
    0 18px 40px rgba(0,0,0,0.45);

    /* 
       ZVANIČNE BOJE TIMOVA
       Svaka kartica koristi svoj akcent kroz border,
       glow i hover efekat.
    */

    --ferrari:#E60000;

    --mercedes:#00A19B;

    --mclaren:#FF8000;

    --redbull:#0B132B;

    --aston:#004F41;

    --alpine:#005BA3;

    --williams:#002D62;

    --audi:#EE1E46;

    --cadillac:#1A365D;
}
    --haas:#FFFFFF;
}
