<link rel="stylesheet" href="css/tptpstil.css">

.glavni-header {
    background-color: #15151e; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
   
    border-bottom: 3px solid #e10600;
}

.logo-sekcija {
    display: flex;
}

.logo-img {
    height: 90px;
    width: auto;
}

.site-title {
    color: white;
}

.navigacija {
    display: flex;
}

.nav-btn {
    text-decoration: none;
    color: white;
}
.pocetna-sekcija {
    
    background-image: url('../images/glavnaslika.webp'); 
    background-size: cover;      
    background-position: center; 
    height: 650px;                
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pocetni-tekst {
    max-width: 600px; 
}


.search-baar {
    text-align: center;

}

#searchtimova {
    width: 300px;
    border: 2px
    font-size: 16px;
}
.naslov-timovi {
    text-align: center;
    color: #15151e;
    
}

.kartice{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    max-width: 1200px;

}


.f1-kartica {
    background-color:grey;
    width: 250px;
    height: 350px;
    perspective: 1000px;
}

.kartica-unutrasnjost {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.f1-kartica:hover .kartica-unutrasnjost {
    transform: rotateY(180deg);
}

.kartica-naprijed, .kartica-nazad {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;

    align-items: center;
    justify-content: center;
}
.kartica-naprijed {
    background-color: white;
    color: black;
}

.kartica-nazad {
    background-color: #e10600;
    color: white;
    transform: rotateY(180deg);
}

.kartica-nazad ul {
    list-style: none;
    padding: 0;
}

.kartica-nazad li {
    font-size: 1.2rem;
}
.kartica-naprijed img {
    width: 150px;
    height: 150px;
    
}

.sadrzaj-kontejner {
    max-width: 1200px;
}

.sadrzaj-header {
    text-align: center;
}

.sadrzaj-grid {
    display: flex;
}

.glavni-clanak {
    flex: 2;
}

.clanak-sekcija {
    margin-bottom: 40px;
}

.clanak-sekcija h2 {
}

.clanak-slika {
    width: 100%;
    border-radius: 10px;
}


.sadrzaj-sidebar {
    flex: 1;
}

.info-kartica {
    background: var(--card-bg);
}

.red-card {
    border-left: 5px solid #e10600;
}

.spec-lista {
    list-style: none;
    padding: 0;
}

.spec-lista li {
    padding: 10px 0;
    border-bottom: 1px solid #333;
}
@media (max-width: 768px) {
    .sadrzaj-grid {
        flex-direction: column;
    }
}
